
<div><h1 class="homepage-title">My Health Journal</h1></div>


<div><p class="homepage-paragraph homepage-spacing">Keep track of all your health events </p></div>

<div class="home-image"><img src="/images/screen.png" alt="image" width="750" height="400" class="img-border"></div>

